{% extends "base.html" %}

{% block content %}


<section class="py-5 bg-light" id="contact">
  <div class="container">
    <h2 class="text-center text-success mb-5">Contact <span class="text-dark">Me</span></h2>
    <form>
      <div class="row g-3 mb-3">
        <div class="col-md-6">
          <input type="text" class="form-control form-control-lg border border-dark" placeholder="Full Name" required>
        </div>
        <div class="col-md-6">
          <input type="email" name="Email" class="form-control form-control-lg border border-dark" placeholder="Email Address" required>
        </div>
        <div class="col-md-6">
          <input type="tel" class="form-control form-control-lg border border-dark" placeholder="Phone Number" required>
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control form-control-lg   border border-dark" placeholder="Email Subject" required>
        </div>
        <div class="col-12">
          <textarea class="form-control form-control-lg border border-dark" rows="5" placeholder="Your Message" required></textarea>
        </div>
        <div class="col-12 text-center">
          <button type="submit" class="btn btn-success px-4">Send Message</button>
        </div>
      </div>
    </form>
  </div>
</section>



 
{% endblock %}